@model Passion_Project.Models.Owner
@{
    ViewBag.Title = "Details";
}

<a href="/Owner/list">Go back to list</a>
<h2>Owner Details</h2>
<h4>@Model.First_Name @Model.Last_Name</h4>
<div>Email: @Model.Email</div>
<div>Id: @Model.OwnerID</div>





