@model IEnumerable<Passion_Project.Models.Owner>
@{
    ViewBag.Title = "List";
}



<div class="go-link"><a href="/Owner/New">New Owner</a></div>
<h2 class="table-title">List</h2>
<table class="list-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Owner Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @foreach (var owner in Model)
                {
                    <div>@owner.OwnerID </div>

                }
                    </td>
            <td>
                @foreach (var owner in Model)
                {
                    <div><a href="/Owner/Details/@owner.OwnerID">@owner.First_Name @owner.Last_Name</a></div>

                }
            </td>
        </tr>
    </tbody>
</table>



