
@{
    ViewBag.Title = "Create";
}

<h2>Create Owner</h2>
<form action="/Owner/Create" method="POST">
    <div>
        <label>First Name:</label> <input type="text" name="First_Name" />
    </div>
    <div>
        <label>Last Name:</label> <input type="text" name="Last_Name" />
    </div>
    <div>
        <label>Email:</label> <input type="text" name="Email" />
    </div>
    <div>
        <input type="submit" value="Add Owner" />
    </div>

</form>

