@model Passion_Project.Models.Insurer
@{
    ViewBag.Title = "Details";
}


<a href="/Insurer/list">Go back to list</a>
<h2>Insurer Details</h2>
<h3>Name:@Model.Name</h3>
<h4>Id: @Model.InsurerID</h4>

<form action="/Insurer/Delete/@Model.InsurerID" method="POST" onsubmit="if (!confirm('Are you sure you want to delete the insurer')) return false;">
    <div>
        <button style="background:#ff0000; color:#ffffff;">Delete this Insurer</button>
    </div>

</form>


