@model Passion_Project.Models.Insurer
@{
    ViewBag.Title = "Details";
}


<a href="/Insurer/list">Go back to list</a>
<h2>Insurer Details</h2>
<h3>Name:@Model.Name</h3>
<h4>Id: @Model.InsurerID</h4>


