@model Passion_Project.Models.Insurer
@{
    ViewBag.Title = "Details";
}

<div class="go-link"><a href="/Insurer/list">Go back to list</a></div>

<div class="update-link"><a href="/Insurer/Update/@Model.InsurerID">Update Insurer</a></div>

<h2 class="table-title">Insurer Details</h2>
<table class="table-bordered ownertable">
    <thead>
        <tr>
            <th>Insurer ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><div> @Model.InsurerID</div></td>
            <td><div> @Model.Name</div></td>
        </tr>
    </tbody>
</table>
<div>
    <a href="/Insurer/DeleteConfirm/@Model.InsurerID" class="btn" style="background:#ff0000; color:#ffffff;">Delete this Insurer</a>
</div>



