@model IEnumerable<Passion_Project.Models.Insurer>
@{
    ViewBag.Title = "List";
}

<div class="go-link"><a href="/Insurer/New">New Insurer</a></div>
<h2 class="table-title">List</h2>


<table class="list-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Insurer Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @foreach (var insurer in Model)
                {
                    <div>@insurer.InsurerID</div>

                }
            </td>
            <td>
                @foreach (var insurer in Model)
                {
                    <div><a href="/Insurer/Details/@insurer.InsurerID">@insurer.Name</a></div>

                }
            </td>
        </tr>
    </tbody>
</table>



