
@{
    ViewBag.Title = "Create";
}

<h2>Create Insurer</h2>
<form action="/Insurer/Create" method="POST">
    <div>
        <label>Name:</label> <input type="text" name="Name" />
    </div>
    <div>
        <input type="submit" value="Add Insurer" />
    </div>

</form>

