@model Passion_Project.Models.Insurer
@{
    ViewBag.Title = "Update";
}

<div class="go-link"><a href="/Insurer/List">Go back to list</a></div>
<h2 class="table-title">Update Insurer</h2>

<form action="/Insurer/Edit/@Model.InsurerID" method="POST">
    <div>
        <label>Insurer ID:</label> <input type="number" name="InsurerID" value="@Model.InsurerID" />
    </div>
    <div>
        <label>Name:</label> <input type="text" name="Name" value="@Model.Name" />
    </div>
    <div>
        <button class="btn" style="background:#ff0000; color:#ffffff;" name="Update Insurer">Update Policy</button>
    </div>
</form>
