@model IEnumerable<Passion_Project.Models.ContractDto>
@{
    ViewBag.Title = "List";
}


<div class="go-link"><a href="/Contract/New">New Contract</a></div>
<h2 class="table-title">List of Contracts</h2>

<table class="list-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Owner Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @foreach (var contract in Model)
                {
                    <div>@contract.ID</div>
                }
            </td>
            <td>
                @foreach (var contract in Model)
                {
                    <div><a href="/Contract/Details/@contract.ID">@contract.First_Name @contract.Last_Name</a></div>
                }
            </td>
        </tr>
    </tbody>
</table>


