@model IEnumerable<Passion_Project.Models.Owner>
@{
    ViewBag.Title = "Create";
}

<h2>Create Contract</h2>

<form action="/Contract/Create" method="POST">
    <div>
        <lable>OwnerID:</lable>
        <select name="OwnerID">
            @foreach (var owner in Model)
            {
                <option value="@owner.OwnerID">@owner.Last_Name</option>
            }
        </select>
        
    </div>
    <div>
        <lable>PolicyId:</lable><input type="number" name="PolicyID" />
    </div>
    <div>
        <lable>InsurerID:</lable><input type="number" name="InsurerID" />
    </div>
    <div>
        <lable>Active Status:</lable><input type="text" name="Active" />
    </div>
    <div>
        <lable>Purchase Date:</lable><input type="text"name="PurchaseDate"/>
    </div>
    <div>
        <input type="submit" value="Add Contract" />
    </div>
</form>
