@model Passion_Project.Models.Policy
@{
    ViewBag.Title = "Details";
}


<div class="go-link"><a href="/Policy/list">Go back to list</a></div>

<div class="update-link"><a href="/Policy/Update/@Model.PolicyID">Update Policy</a></div>

<h2 class="table-title">Policy Details</h2>
<table class="table-bordered ownertable">
    <thead>
        <tr>
            <th>Policy ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><div> @Model.PolicyID</div></td>
            <td><div> @Model.Name</div></td>
        </tr>
    </tbody>
</table>
<div>
    <a href="/Policy/DeleteConfirm/@Model.PolicyID" class="btn" style="background:#ff0000; color:#ffffff;">Delete this Policy</a>
</div>



