
@model IEnumerable<Passion_Project.Models.Policy>
@{
    ViewBag.Title = "List";
}
<div class="go-link"><a href="/Policy/New">New Policy</a></div>
<h2 class="table-title">List</h2>


<table class="list-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Policy Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @foreach (var policy in Model)
                {
                    <div>@policy.PolicyID </div>

                }
            </td>
            <td>
                @foreach (var policy in Model)
                {
                    <div><a href="/Policy/Details/@policy.PolicyID">@policy.Name</a></div>

                }
            </td>
        </tr>
    </tbody>
</table>

