
@{
    ViewBag.Title = "Create";
}

<h2>Creat Policy</h2>
<form action="/Policy/Create" method="POST">
    <div>
        <label>Name:</label> <input type="text" name="Name" />
    </div>
    <div>
        <input type="submit" value="Add Policy" />
    </div>

</form>
