
@{
    ViewBag.Title = "Create";
}

<div class="go-link"><a href="/Policy/List">Go back to list</a></div>

<h2 class="table-title">Create Policy</h2>

<form action="/Policy/Create" method="POST">
    <div>
        <label>Name:</label> <input type="text" name="Name" />
    </div>
    <div>
        <button class="btn" style="background:#ff0000; color:#ffffff;" name="Create Owner">Create Policy</button>
    </div></form>
